AIRFLOW_UID=1000
AIRFLOW__CORE__FERNET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=xxxxxxxxxxxx

# MSSQL Connection Strings for ETL Demo
AIRFLOW_CONN_MSSQL_SOURCE=mssql+pyodbc://username:password@host:port/database?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
AIRFLOW_CONN_MSSQL_TARGET=mssql+pyodbc://username:password@host:port/database?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes